.statusBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: 4px solid rgb(201, 201, 201);
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 20px;
  line-height: 1;
  width: 32px;
  height: 32px;
  outline: none;
  color: rgb(112, 76, 182);
  padding: 0px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  border: 2px solid rgb(201, 201, 201);
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}
